<!DOCTYPE html>
<html>
<p><a href='add'%}>Click here to add a new sighting!</a></p>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>All Sightings</h2>

<table>
  <tr>
    <th>Unique Squirrel ID</th>
    <th>Date</th>
    <th>Link</th>
  </tr>
{% for sighting in sightings %}
  <tr>
    <td>{{sighting.unique_squirrel_id}}</td>
    <td> {{sighting.date}}</td>
    <td><a href="{%url 'squirrel_id' sighting.unique_squirrel_id%}">{%url 'squirrel_id' sighting.unique_squirrel_id%}</a></td></tr>
{% endfor %}
</table>

</html>
